+++
title = "The Phoenix Flavour"
linkTitle = "The Phoenix Flavour"

+++

{{< blocks/cover title="Mod Lists by Phoenix & Friends" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" style="color:#E2E8E9" href="{{< relref "skyrim-se/lotf/introduction/" >}}">
		Legends of the Frost
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" style="color:#E2E8E9" href="{{< relref "tpf/introduction/" >}}">
		The Phoenix Flavour
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" style="color:#E2E8E9" href="{{< relref "fo4/wtp/introduction/" >}}">
		Welcome to Paradise
	</a>
	<br>
	<a class="btn btn-lg btn-primary mr-3 mb-4" style="color:#E2E8E9" href="https://www.nexusmods.com/skyrimspecialedition/mods/51973">
		TPF: Dragon's Edition
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" style="color:#E2E8E9" href="https://github.com/Amigoliath/Slidikins-Strenuous-Skyrim">
		Slidkins' Strenuous Skyrim
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" style="color:#E2E8E9" href="{{< relref "skyrim-se/sme/introduction/" >}}">
		Skyrim Modding Essentials
	</a>
	<p class="lead mt-5">Scroll down or click the arrow to find out more about Wabbajack lists by Phoenix & Friends.</p>
	{{< blocks/link-down color="info" >}}
	</a>
</div>
{{< /blocks/cover >}}

{{% blocks/lead %}}
It all started with [The Phoenix Flavour](/tpf/introduction/), a manual modding guide that later became a Wabbajack setup. Since TPF, I have branched out and created the Wabbajack lists [Legends of the Frost](/lotf/introduction/) and [Skyrim Modding Essentials](/sme/introduction] for Skyrim SE as well as [Welcome to Paradise](/wtp/introduction/) for Fallout 4. In addition to my own projects, this website features other Wabbajack lists that were based on TPF. Find out more below.
{{% /blocks/lead %}}

{{< blocks/section >}}

{{% blocks/feature icon="fa-github" title="Legends of the Frost" url="/skyrim-se/lotf/introduction" %}}
Legends of the Frost is a Wabbajack list for Skyrim SE, strictly limited to fixing issues in the base game without changing it significantly for more enjoyable gameplay that is close to the vanilla experience.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-github" title="The Phoenix Flavour" url="/tpf/introduction/" %}}
The Phoenix Flavour is a manual guide and Wabbajack list for Skryim SE, focusing on improved visuals and gameplay without compromising the game's original vision.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-github" title="Welcome to Paradise" url="/fo4/wtp/introduction/" %}}
Welcome to Paradise is a Wabbajack list for Fallout 4, intended to provide a solid upgrade over vanilla, including improved visuals and performance as well as gameplay adjustments.
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section >}}

{{% blocks/feature icon="fa-github" title="TPF: Dragon's Edition" url="https://www.nexusmods.com/skyrimspecialedition/mods/51973" %}}
TPF: Dragon's Edition by DragonBlame is a Wabbajack list and TPF Addon that greatly expands the original setup with new content, character creation options, items, and various other modifications.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-github" title="Slidikins' Strenuous Skyrim" url="https://github.com/Amigoliath/Slidikins-Strenuous-Skyrim" %}}
Slidikins' Strenuous Skyrim by Slidikins is a Wabbajack list and TPF Addon focusing on survival mechanics and a harsher economy with a range of other features for a more unforgiving experience.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-github" title="Skyrim Modding Essentials" url="skyrim-se/sme/introduction/" %}}
Skyrim Modding Essentials is a lightweight utility list for Wabbajack and the successor to SMEFT. It is intended to jumpstart a new modded setup with all basic tools and mods.
{{% /blocks/feature %}}

{{< /blocks/section >}}