+++
title = "The Phoenix Flavour"
linkTitle = "The Phoenix Flavour"

+++

{{< blocks/cover title="Welcome to The Phoenix Flavour: A Skyrim Modding Guide!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Get Started <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5">Some more text can go here!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
The Phoenix Flavour is a modding guide for Skyrim that turns the base game into something very special. I don't know enough about Skyrim modding to continue talking about this so I'm just typing away to fill this in.

Something something Wabbajack something something conflict resolution.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Mods!" %}}
Get your mods here! Grab 'em while they're hot!

Mods mods mods.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="We're on GitHub!" url="https://github.com/foreverphoenix/the-phoenix-flavour" %}}
Yes.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/thephoenixflavour" %}}
Do we even have a Twitter?
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">Stealth archer best Skyrim class</h1>
</div>
{{< /blocks/section >}}

{{< blocks/section >}}
{{% blocks/feature icon="fab fa-squarespace" title="Sponsored by **Square Space**" %}}
And Raid Shadow Legends
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-gamepad" title="The Creation Club is the best thing that's happened to Skyrim" url="https://www.youtube.com/watch?v=dQw4w9WgXcQ" %}}
(how could he say something so controversial yet so brave?)
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-question" title="Uhhh" %}}
I am running out of ideas.
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">bibbidi bobbidi bop</h1>
</div>

{{< /blocks/section >}}
 -