// Style alert boxes.

.alert {
    font-weight: $font-weight-medium;
    @include themed() {
        background: t($theme-alert-bg-color);
    }
    color: inherit;
    border-radius: 0;

    @each $color, $value in $theme-colors {
        &-#{$color} {
          & .alert-heading {
            @include themed() {
              color: t('alert-#{$color}');
            }
          }

          border-style: solid;
          border-width: 0 0 0 4px;
          @include themed() {
            border-color: t('alert-#{$color}');
          }
        }
    }
}
