
$themes: (
        default: (
                theme-white: $white,
                theme-dark: $dark,

          // Theme colours
                theme-primary: darken($primary-dark, 10%),
                theme-primary-light: lighten($primary, 75%),
                theme-secondary: $secondary-main,

          // UI element colors
                theme-border-color: darken($secondary-main, 10%),
                theme-sidebar-border-color: $secondary-dark,

          // Body
                theme-body-bg: darken($secondary-main, 5%),
                theme-body-color: $white,

          // Sidebar
                theme-td-sidebar-bg-color: desaturate($primary-dark, 10%),
                theme-td-sidebar-text-color: darken($secondary-text, 30%),
                theme-td-sidebar-link-color: darken($secondary-text, 10%),
                theme-td-sidebar-hover-color: saturate($primary-light, 10%),

          //Table of Contents
                theme-td-toc-text-color: $secondary-dark,
                theme-td-toc-text-hover-color: $primary-light,
                theme-td-toc-bg-color: desaturate($primary-dark, 10%),

          // Links
          // Only affects text links and breadcrumbs, not the sidebars.
                theme-link-color: $primary-light,
                theme-link-decoration: none,
                theme-link-hover-color: lighten($link-color, 15%),
                theme-link-hover-decoration: none,

          //navbar
                theme-navbar-color: rgba($white, 0.75),
        ),




        light: (
                theme-white: $dark,
                theme-dark: $white,

          // Theme colours
                theme-primary: $primary-dark,
                theme-primary-light: lighten($primary-dark, 75%),
                theme-secondary: $secondary-main,

          // UI element colors
                theme-border-color: darken($secondary-light, 10%),
                theme-td-sidebar-border-color: $secondary-main,

          // Body
                theme-body-bg: darken($white, 30%),
                theme-body-color: $primary-dark,

          // Sidebar
                theme-td-sidebar-bg-color: desaturate($primary-light, 30%),
                theme-td-sidebar-text-color: $primary-dark,
                theme-td-sidebar-link-color: darken($primary, 10%),
                theme-td-sidebar-hover-color: darken($primary-light, 30%),

          //Table of Contents
                theme-td-toc-text-color: $secondary-text,
                theme-td-toc-text-hover-color: $primary-light,
                theme-td-toc-bg-color: desaturate($secondary-text, 10%),

          // Links
          // Only affects text links and breadcrumbs, not the sidebars.
                theme-link-color: darken($primary-main, 10%),
                theme-link-decoration: none,
                theme-link-hover-color: lighten($link-color, 15%),
                theme-link-hover-decoration: none,

          //navbar
                theme-navbar-color: rgba($black, 0.75),
        ),
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@mixin themedBody() {
  @each $theme, $map in $themes {
    &.theme--#{$theme} {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}

$theme-white:                   'theme-white';
$theme-dark:                    'theme-dark';
$theme-primary:                 'theme-primary';
$theme-primary-light:           'theme-primary-light';
$theme-secondary:               'theme-secondary';
$theme-border-color:            'theme-border-color';
$theme-td-sidebar-border-color: 'theme-td-sidebar-border-color';
$theme-body-bg:                 'theme-body-bg';
$theme-body-color:              'theme-body-color';
$theme-td-sidebar-bg-color:     'theme-td-sidebar-bg-color';
$theme-td-sidebar-text-color:   'theme-td-sidebar-text-color';
$theme-td-sidebar-link-color:   'theme-td-sidebar-link-color';
$theme-td-sidebar-hover-color:  'theme-td-sidebar-hover-color';
$theme-td-toc-text-color:       'theme-td-toc-text-color';
$theme-td-toc-text-hover-color: 'theme-td-toc-text-hover-color';
$theme-td-toc-bg-color:         'theme-td-toc-bg-color';
$theme-link-color:              'theme-link-color';
$theme-link-decoration:         'theme-link-decoration';
$theme-link-hover-color:        'theme-link-hover-color';
$theme-link-hover-decoration:   'theme-link-hover-decoration';
$theme-navbar-color:            'theme-navbar-color';


body {
  @include themedBody() {
    color: t($theme-white);
    background-color: t($theme-dark);
  }
}