//
// Style Markdown content
//

.td-content {
  order: 1;

  p, li, td {
    font-weight: $font-weight-body-text;
  }

  a {
    @include themed() {
      color: t($theme-link-color);
    }
    font-weight: $font-weight-bold;
  }

  > h1 {
    font-weight: $font-weight-bold;
    margin-bottom: 1rem;
    font-size: 2.7rem;
  }

  > h2 {
    margin-bottom: 1rem;
    font-weight: $font-weight-bold;
    font-size: 1.9rem;
  }

  > h2:not(:first-child) {
    margin-top: 3rem;
  }

  > h2 + h3 {
    margin-top: 1rem;
  }

  > h3, > h4, > h5, > h6 {
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  > h3 {
    font-size: 1.6rem;
  }

  > h4 {
    font-size: 1.3rem;
  }

  > h5 {
    margin-bottom: 1rem;
    font-weight: $font-weight-bold;
    font-size: 1.75rem;
    a {
      @include themed() {
      color: t($theme-link-mod);
      }
    }
  }

  img {
    @extend .img-fluid;
    margin: auto;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  > table {
    @extend .table-striped;

    @extend .table-responsive;

    @extend .table;
  }

  

  > blockquote {
    padding: 0 0 0 1rem;
    margin-bottom: $spacer;
    line-height: 1.7;

    @include themed() {
      color: t($theme-quote-text-color);
      background-color: t($theme-quote-background-color);
    }

    border-left: 6px solid $primary-highlight;
  }

  > ul li, > ol li {
    margin-top: .25rem;
    margin-bottom: .25rem;
  }

  strong {
    font-weight: $font-weight-bold;
  }

  > pre, > .highlight, > .lead, > h1, > h2, > ul, > ol, > p, > blockquote, > dl dd, .footnotes, > .alert {
    @extend .td-max-width-on-larger-screens;
  }

  .alert-heading {
    font-weight: 600;
    font-size: 20px;
  }

  .alert:not(:first-child) {
    margin-top: 1 * $spacer;
    margin-bottom: 1 * $spacer;
  }

  .lead {
    margin-bottom: 1.5rem;
  }
}

.td-title {
  margin-top: 1rem;
  margin-bottom: .5rem;

  @include media-breakpoint-up(sm) {
    font-size: 3rem;
  }
}

mark {
  @include themed() {
    background-color: t($theme-mark-color);
  }

}