// Color System

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

// Material Scheme Colors

$primary-main:    #54919e !default;
$primary-light:   #55b6c9 !default;
$primary-dark:    #163440 !default;
$primary-text:    #FFFFFF !default;

$secondary-main:  #163440 !default;
$secondary-light: #235163 !default;
$secondary-dark:  #1b1b1b !default;
$secondary-text:  #FFFFFF !default;

// Theme colours

$primary: darken($primary-dark, 10%) !default;
$primary-light: lighten($primary, 75%) !default;
$secondary: $secondary-main !default;

// UI element colors

$border-color: darken($secondary-main, 10%);
$td-sidebar-border-color: $secondary-dark;

// Body

$body-bg: darken($secondary-main, 5%) !default;
$body-color: $white !default;

// Sidebar

$td-sidebar-bg-color: desaturate($primary-dark, 10%) !default;
$td-sidebar-text-color: $secondary-text !default;
$td-sidebar-link-color: darken($secondary-text, 10%) !default;
$td-sidebar-hover-color: saturate($primary-light, 10%) !default;

//Table of Contents

$td-toc-text-color: $secondary-text;
$td-toc-text-hover-color: $primary-light;
$td-toc-bg-color: desaturate($primary-dark, 10%);

// Links
// Only affects text links and breadcrumbs, not the sidebars.

$link-color: $primary-light !default;
$link-decoration: none !default;
$link-hover-color: lighten($link-color, 15%) !default;
$link-hover-decoration: none !default;

// Footer

