// Color System

$white:    #d3dcde !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

// Material Scheme Colors

$primary-main:    #54919e !default;
$primary-light:   #55b6c9 !default;
$primary-dark:    #163440 !default;
$primary-text:    #FFFFFF !default;

$secondary-main:  #163440 !default;
$secondary-light: #235163 !default;
$secondary-dark:  #1b1b1b !default;
$secondary-text:  #E2E8E9 !default;

$dark:    		  darken($primary-dark, 8%) !default;

// Theme colours

$primary: darken($primary-dark, 10%) !default;
$primary-light: lighten($primary, 75%) !default;
$secondary: $secondary-main !default;

// UI element colors

$border-color: darken($secondary-main, 10%);
$td-sidebar-border-color: $secondary-dark;

// Body

$body-bg: darken($secondary-main, 5%) !default;
$body-color: $white !default;

// Sidebar

$td-sidebar-bg-color: desaturate($primary-dark, 10%) !default;
$td-sidebar-text-color: $secondary-text !default;
$td-sidebar-link-color: darken($secondary-text, 10%) !default;
$td-sidebar-hover-color: saturate($primary-light, 10%) !default;

//Table of Contents

$td-toc-text-color: $secondary-text;
$td-toc-text-hover-color: $primary-light;
$td-toc-bg-color: desaturate($primary-dark, 10%);

// Links
// Only affects text links and breadcrumbs, not the sidebars.

$link-color: $primary-light !default;
$link-decoration: none !default;
$link-hover-color: lighten($link-color, 15%) !default;
$link-hover-decoration: none !default;


// Alerts
$primary: #30638E !default;
$primary-light: lighten($primary, 75%) !default;
$secondary: #FFA630 !default;
$success: #3772FF !default;
$info: #50ACBE !default;
$warning: #179CB4 !default;
$danger: #ED6A5A !default;
$white: #fff !default;
$light: #D3F3EE !default;


// Colour scheme
@import "color-themes";

// Font

$google_font_name: "Roboto";
$google_font_family: "Roboto:300,300i,400,400i,700,700i";