<div class="js-toggle-wrapper">
    <div class="js-toggle">
        <div class="js-toggle-track">
            <div class="js-toggle-track-check">
                <i class="fas fa-moon"></i>
            </div>
            <div class="js-toggle-track-x">
            	<i class="fas fa-sun"></i>
            </div>
        </div>
        <div class="js-toggle-thumb"></div>
        <input class="js-toggle-screenreader-only" type="checkbox" aria-label="Switch between Dark and Light mode">
    </div>
</div>

<script>
    var body = document.body;
	var switcher = document.getElementsByClassName('js-toggle')[0];

    body.classList.add('theme--default');

	//Click on light mode icon. Add light mode classes and wrappers. Store user preference through sessions
	switcher.addEventListener("click", function() {
        this.classList.toggle('js-toggle--checked');
        this.classList.add('js-toggle--focus');
		//If light mode is selected
		if (this.classList.contains('js-toggle--checked')) {
			body.classList.add('theme--light');
			body.classList.remove('theme--default');
			//Save user preference in storage
			localStorage.setItem('lightMode', 'true');
		} else {
			body.classList.remove('theme--light');
			body.classList.add('theme--default');
			setTimeout(function() {
				localStorage.removeItem('lightMode');
			}, 100);
		}
	})

	//Check Storage. Keep user preference on page reload
	if (localStorage.getItem('lightMode')) {
        switcher.classList.add('js-toggle--checked');
        body.classList.add('theme--light');
        body.classList.remove('theme--default');
	}

</script>